[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gunicorn = "*"
flask = "*"
redis = "*"
python-dotenv = "*"
requests = "*"
numpy = "*"
rq = "*"

[requires]
python_version = "3.8"
